{% extends '_layout.html' %}

{% block content %}

<h2>Add new subject</h2>

<!--Form for new subject-->
<form method="post" enctype="multipart/form-data">

    <label for="mn">subject name</label>
    <input id="mn" type="text" name="subject_name" required />
    <br />

    <label for="pe">period</label>
    <input id="pe" type="text" name="period" required />
    <br />

    <label for="cd">subject code</label>
    <input id="cd" type="text" name="subject_code" required />
    <br />


    <input type="submit" value="Submit" />

</form>
{% endblock %}

{# Jinja comment #}
