{% extends '_layout.html' %}

{% block title %} title {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h2>Users list</h2>

        <!--Table uses a custom div using css-->
        <table class="styled-table">
            <tr> <th> id </th> <th> first name </th> <th> Last name </th> <th> email </th> <th> avatar </th> <th> Delete </th> <th> Edit </th> <th> view </th> <th> Add subject </th> </tr>
            {% for row in result %}
            <tr>
                <td>{{row.id}}</td>
                <td> {{ row.name }} </td>
                <td>{{ row.last_name }}</td>
                <td> {{ row.email }}</td>
                <td><img src="{{ url_for('static', filename='images/' + (row.avatar or 'default.png')) }}" height="50" width="50"></td>


                <!--confirming Admin user if they want to delete user--->
                <td><a href="/delete?id={{ row.id }}" onclick="return confirm('Are you sure you want to delete {{ row.first_name }} {{ row.last_name }}?')">Delete</a></td>
                <td>
                    <a href="/edit?id={{row.id}}">
                        Edit
                    </a>

                </td>

                <td>
                    <a style="text-decoration:none;" href="/view?id={{row.id}}">
                        Profile
                    </a>
                </td>

                <td>
                    <a href="/add_movie?id={{row.id}}">
                        add subject
                    </a>

                </td>

            </tr>
            {% endfor %}
        </table>

        <a class="btn btn-success btn-lg" style="width: 1115px" href="/register" role="button">Add a new record</a>

    </div>
</div>

        {% endblock %}