{% extends "_layout.html" %}

{% block title %} HOME {% endblock title %}

{% block content %}

<div class="mt-0 p-3 text-white">
    <h1>Home</h1>
    <p>Information is found here about subjects, choosing subjects, and what they include.</p>
</div>

<ul class="btn btn-primary">
    <a style="text-decoration:none; color:#ffffff" href="{{ url_for('add')}}">Sign up</a>
</ul>

{% if session ['role'] == 'user' %}

<!--Table uses a custom div using css--->
<h2>Subjects to select</h2>
<table class="styled-table">
    <tr> <th> id </th> <th> subject name </th> <th> period </th> <th> subject code </th> <th> select </th></tr>
    {% for row in result %}
    <tr>
        <td>{{row.idsubject}}</td>
        <td> {{ row.subject_name }} </td>
        <td>{{ row.period }}</td>
        <td> {{ row.subject_code }}</td>
        <td><a href="/select?id={{row.id}}">Select this subject</a></td>
    </tr>
    {% endfor %}
</table>

{% elif session ['role'] == 'admin' %}

<!--Table uses a custom div using css--->
<table class="styled-table">

    <tr> <th> id </th> <th> subject name </th> <th> period </th> <th> subject code </th> <th> edit </th> <th> Delete </th> <th>View class</th> </tr>
    {% for row in result %}
    <tr>
        <td>{{row.idsubject}}</td>
        <td> {{ row.subject_name }} </td>
        <td>{{ row.period }}</td>
        <td> {{ row.subject_code }}</td>
        <td><a class="btn btn-primary" style="text-decoration:none;" href="/edit_subject?id={{row.id}}">Edit</a></td>
        <td><ul class="btn btn-danger" style="text-decoration:none;" href="/admin_delete?id={{ row.id }}" onclick="return confirm('Are you sure you want to delete {{ row.subject_name }}?')">Delete</ul></td>
        <td><a class="btn btn-success" style="text-decoration:none;" href="/view_subject?id={{row.id}}">View</a></td>
    </tr>
    {% endfor %}
</table>
{% if session ['role'] == 'admin' %}
<ul class="btn btn-success">
    <a style="text-decoration:none; color:#ffffff" href="{{ url_for('list_users')}}">View all of Us</a>
</ul>
{% elif 'logged_in' in session %}
<ul class="btn btn-success">
    <a style="text-decoration:none; color:#ffffff" href="/view?id={{ session['id']}}"> View your account</a>
</ul>
{% endif %}

<ul class="btn btn-success">
    <a style="text-decoration:none; color:#ffffff" href="add_subject?id={{result.id}}">Add anotDher subject</a>
</ul>
{% endif %}


{% endblock %}
