{% extends '_layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="centered">
    <h1>sign in to see more information</h1>

    <!--Form uses a custom div using css-->
    <form class="signupdiv" method="post">
        <label for="email">email:</label><br>
        <input id="email" name="email" type="email"><br>
        <label for="password">Password:</label><br>
        <input id="password" name="password" type="password"><br>

        <input type="submit" value="Login">
    </form>
</div>
    {% endblock %}
