{% extends '_layout.html' %}

{% block title %}View profile{% endblock %}

{% block content %}

<h1>{{ result.name }} {{ result.last_name }}</h1>

<p><a href="mailto:{{ result.email }}">{{ result.email }}</a></p>

<img src="{{ url_for('static', filename='images/' + (result.avatar or 'default.png')) }}" height="250" width="250">

<p>
    <a href="/edit?id={{ result.id}}">Edit</a>
    <a href="/delete?id={{ result.id }}">Delete</a>
</p>
<p>
    <a href="{{ url_for('list_users') }}">Back to dashboard</a>
</p>

<h2> Subejcts selected by {{ result.name }} {{ result.last_name }} </h2>

<a href="add_movie?id={{result.id}}">Add another subject</a>
<table class="styled-table">
    <tr> <th> id </th> <th> subject name </th> <th> period </th> <th> subject code </th> </tr>
    {% for row in result %}
    <tr>
        <td>{{row.idsubject}}</td>
        <td> {{ row.subject_name }} </td>
        <td>{{ row.period }}</td>
        <td> {{ row.subject_code }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>