{% extends '_layout.html' %}
{% block title %}View profile{% endblock %}
{% block content %}

<h1>{{ result.name }} {{ result.last_name }}</h1>
<p><a href="mailto:{{ result.email }}">{{ result.email }}</a></p>

<img src="{{ url_for('static', filename='images/' + (result.avatar or 'default.png')) }}" height="250" width="250">

<p>
    <a href="/edit?id={{ result.id}}">Edit</a>
    <a href="/delete?id={{ result.id }}">Delete</a>
</p>

<!--Heads back to list_users.html page--->
<p>
    <a href="{{ url_for('list_users') }}">Back to dashboard</a>
</p>

<!--Name of user and the subjects selected by the user with the same ID--->
<h2> Subejcts selected by {{ result.name }} {{ result.last_name }} </h2>

<!--Add in another subject to the user with the same ID-->
<a href="add_movie?id={{result.id}}">Add another subject</a>


<!--Subject table of user who chose specific subject-->
<!--Table uses a custom div using css-->
<table class="styled-table">
    <tr> <th> id </th> <th> subject name </th> <th> period </th> <th> subject code </th> <th> delete </th></tr>
    {% for row in result %}
    <tr>
        <td>{{row.idsubject}}</td>
        <td> {{ row.subject_name }} </td>
        <td>{{ row.period }}</td>
        <td> {{ row.subject_code }}</td>

        <!--confirming user if they want to delete subject--->
        <td><a href="/admin_delete?id={{ row.connect_id }}" onclick="return confirm('Are you sure you want to delete {{ row.subject_name }}?')">Delete</a></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}